<app-carrousel-home></app-carrousel-home>
<div id="mainHome">
  <div class="container">
    <div
      class="row container pt-5 d-flex justify-content-center align-items-center"
    >
      <div class="col-8 ps-0 pe-3">
        <h2 class="">Nos conheça melhor</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
          ducimus voluptates labore suscipit temporibus laborum repellat, quos
          ipsam dolore pariatur laboriosam placeat, sint ullam minima
          consequuntur in quis? Corrupti, obcaecati!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          magni aspernatur doloremque corporis ea sapiente nobis consequuntur
          dolorum vel quas numquam voluptas, provident possimus atque modi iste.
          Ex, voluptatibus voluptatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
          atque iure, culpa nisi provident explicabo repellendus inventore ullam
          sapiente architecto obcaecati vel vero doloremque! Tempora praesentium
          commodi animi tenetur fugiat.
        </p>
      </div>
      <div class="col-4 ps-2">
        <div class="card shadow shadow-sm">
          <div class="card-header">
            <h5>Empresa X</h5>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem magni vero temporibus. Deserunt, accusantium? Labore
              vel laborum illo perspiciatis, vero dolorum adipisci repudiandae
              eos velit veniam mollitia! Quo, nostrum ea?
            </p>
          </div>
        </div>
      </div>
    </div>

    <h4 class="text-center pt-5">Principais produtos</h4>

    <div class="p-3 pt-3 d-flex justify-content-center">
      <div class="card p-3">
        <h5>produto 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, obcaecati? Dolore accusamus dicta quisquam illum accusantium, rem facilis nulla harum dignissimos et voluptatibus omnis numquam. Quis obcaecati aperiam repudiandae iste?</p>
    </div>
    <div class="card ms-3 p-3">
        <h5>produto 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, obcaecati? Dolore accusamus dicta quisquam illum accusantium, rem facilis nulla harum dignissimos et voluptatibus omnis numquam. Quis obcaecati aperiam repudiandae iste?</p>
    </div>
    <div class="card ms-3 p-3">
        <h5>produto 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, obcaecati? Dolore accusamus dicta quisquam illum accusantium, rem facilis nulla harum dignissimos et voluptatibus omnis numquam. Quis obcaecati aperiam repudiandae iste?</p>
    </div>
    <div class="card ms-3 me-4 p-3">
        <h5>produto 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, obcaecati? Dolore accusamus dicta quisquam illum accusantium, rem facilis nulla harum dignissimos et voluptatibus omnis numquam. Quis obcaecati aperiam repudiandae iste?</p>
    </div>
    </div>
  </div>
</div>
